<div class="financial__container">
    <header>
        <a [routerLink]="['/home']">
            <button type="button">
                <fa-icon [icon]="backPageIcon"></fa-icon>
            </button>
        </a>
    
        <div class="financial__title">
            <h2>Finanças</h2>
        </div><!--financial__title-->
    </header>

    <main>
        <div class="financial__values">
            <form action="" method="post">
                <table>
                    <thead>
                        <th (click)="openModalFinancial('Fundo de Emergência')">Fundo de Emergência</th>
                        <th (click)="openModalFinancial('Investimentos Variáveis')">Investimentos Variáveis</th>
                        <th (click)="openModalFinancial('Investimentos Fixos')">Investimentos Fixos</th>
                    </thead>
        
                    <tbody>
                        <td>R${{emergecyFund}}</td>
                        <td>R${{variableIncome}}</td>
                        <td>R${{fixedIncome}}</td>
                    </tbody>
                </table>
            </form>
        
            <div class="camp_total">
                <h2>Total</h2>
                <h2>R${{totalValues}}</h2>
            </div><!--camp-->
        </div><!--financial__values-->        

        <div class="modal_financial" *ngIf="openCloseModalFinancial">
            <button type="button">
                <fa-icon [icon]="closeIcon"></fa-icon>
            </button>

            <h2>Atualizar Valores</h2>

            <form action="" method="post" (submit)="updateFinancial(selectedItem,valueModalUpdate)">
                <div class="camp">
                    <input type="text" name="selectedItem" value="{{selectedItem}}">
                </div><!--camp-->

                <div class="camp">
                    <input type="text" name="valueModalUpdate" [(ngModel)]="valueModalUpdate">
                </div><!--camp-->

                <button type="submit">Atualizar</button>
            </form>
        </div><!--modal_financial-->
    </main>
</div><!--financial__container-->
