$colorBlueLight: #355AAB;
$colorBlueLightHover: #355aabc2;
$colorBlackText: #333;
$colorRedDefault: #ff0000;

@mixin display_flex_column{
    display: flex;
    flex-direction: column;
}

@mixin display_flex_row{
    display: flex;
    flex-direction: row;
}

@mixin button_graphics_default(){
    width: 150px;
    height: 35px;
    border: 0;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@mixin button_default(){
    border: 0;
    background-color: transparent;
}

.graphics__container{
    header{
        @include display_flex_column();
        margin: 0px 80px;
        padding: 30px 0px 50px 0;
        border-bottom: 3px solid $colorBlueLight;
        letter-spacing: 7%;
    
        .header__icons{
            @include display_flex_row();
            justify-content: space-between;
            align-items: center;
    
            .header__icons__left{
                @include display_flex_row();
                align-items: center;
                
                a{
                    button{
                        @include button_default();
                        color: $colorBlueLight;
                        font-size: 28px;
                        cursor: pointer;
                        transition: 0.3s ease-in;
                        margin-left: 0px;
    
                        &:hover{
                            color: $colorBlueLightHover;
                        }
    
                        &:active{
                            position: relative;
                            top: 1px;
                        }
                    }
                }
    
                button{
                    @include button_default();
                    margin-left: 20px;
                    @include display_flex_row();
                    font-size: 16px;
    
                    p{
                        margin-left: 5px;
                    }
                }
            }
    
            .header__icons__right{
                button{
                    @include button_default();
                    font-size: 24px;
                    cursor: pointer;
                    color: #222;
                    transition: 0.3s ease-in;
    
                    &:hover{
                        color: #444;
                    }
    
                    &:active{
                        position: relative;
                        top: 1px
                    }
                }
            }
        }
    }

    main{
        .graphics__options{
            padding-top: 50px;
            text-align: center;

            form{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
                .graphics__options__wrapper{
                    @include display_flex_column();

                    label{
                        padding-bottom: 10px;
                        text-align: left;
                        letter-spacing: 3%;
                        font-size: 17px;
                    }

                    select{
                        width: 150px;
                        padding: 0 15px;
                        height: 35px;
                        border: 1px solid $colorBlackText;
                        border-radius: 7px;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 7%;
                        color: $colorBlackText;
                        outline: 0;
                        cursor: pointer;
                    }
                }
                
                .graphics__date{
                    @include display_flex_column();

                    .graphics__date_wrapper{
                        margin-bottom: 10px;

                        label{
                            padding-right: 5px;
                            letter-spacing: 3%;
                            font-size: 17px;  
                        }

                        input{
                            border-radius: 7px;
                            outline: 0;
                            width: 130px;
                            max-width: 97%;
                            height: 35px;
                            border: 1px solid $colorBlackText;
                            background-color: transparent;
    
                            &:last-child{
                                margin-left: 10px
                            }
                        }
                    }
                }

                .form__buttons{
                    @include display_flex_column();

                    button[type=submit]{
                        @include button_graphics_default();
                        background-color: $colorBlueLight;
                        margin-bottom: 10px
                    }
    
                    button[type=button]{
                        @include button_graphics_default();
                        background-color: $colorRedDefault;
                    }
    
                    button{
                        &:active{
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }

        .graphics__chart{
            padding-top: 140px;
        }
    }
}

@media (width < 790px){
    .graphics__container{
        header{
            margin: 0px 20px;
        }

        main{
            .graphics__chart{
                padding-top: 60px;
            }
        }
    }
}

@media (width < 720px){
    .graphics__container{
        header{
            margin: 0px 15px;
        }

        main{
            .graphics__options{    
                form{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);

                    .graphics__options__wrapper{
                        label{
                            padding-bottom: 10px;
                            padding-right: 100px;
                            text-align: center;
                            letter-spacing: 3%;
                            font-size: 17px;
                        }
                    }

                    .graphics__date{
                        .graphics__date_wrapper{
                            input{
                                &:last-child{
                                    margin-bottom: 20px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }

                    select, button{
                        margin: 0 auto 20px auto;
                    }
                }
            }
        }
    }
}

@media (width < 450px){
    .graphics__container{
        main{
            .graphics__options{    
                form{
                   @include display_flex_column();
                }
            }
        }
    }
}

@media (width < 430px){
    .graphics__container{
        header{
            margin: 0px 15px;
        }
    }
}

@media (width < 365px){
    .graphics__container{
        header{
            margin: 0px 10px;
        }   
    }
}